.navbar{
    width: 100%;
    height: 200px;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body{
  margin: 0;
  padding: 0;

}
.divround1{

    height: 100px;
    width: 100px;
    background-color: yellow;
    border-radius: 50%;
}
.divround2{
    height: 100px;
    width: 100px;
    background-color: yellow;
    border-radius: 50%;


}
.navbar2{
    width: 100%;
    height: 200px;
    background-color: blue;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 20px;



}
.divround3{

    height: 100px;
    width: 100px;
    background-color: black;

}
.divround4{

    height: 100px;
    width: 100px;
    background-color: black;

}
.divround5{

    height: 100px;
    width: 100px;
    background-color: black;

}
.navbar3{


width: 100%;
    height: 200px;
    background-color:gray;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 20px;



}
.divround6{
    height: 200px;
    width: 350px;
    background-color: beige;
    border-radius:25% ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.divround7{
    height: 200px;
    width: 350px;
    background-color: beige;
    border-radius:25% ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
.divround6 img{
    height: 70px;
    width: 100px;
}
.divround7 img{
    height: 70px;
    width: 100px;
}